@import url("https://fonts.googleapis.com/css2?family=Solway:wght@700&display=swap");

body {
  font-family: "Solway", serif;
  background-color: var(--background-color);
  color:var(--font-color);
}

input {
  text-align: center;
  border-color:#f7da21 ;
  background-color: transparent;
  color: transparent;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 34px;
  color:invisible;
  text-align: center;
  width: 250px;
  height: 40px;
}

.title-container{
  margin-top: 25px;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letters-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solver-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-bottom: 25px;
}

.button {
  margin: 0 12px 0 12px;
  background-color: var(--font-color);
  border: 1px solid black;
  border-radius: 1.5em;
  align-content: center;
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--background-color);
  letter-spacing: 0.01em;
  width: 136px;
  height: 3em;
}

.solution-suggestions h3 {
  text-decoration: underline;
}

.cells{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row{
  display:flex;
  flex-direction: column;
}

.hexagon{
  margin: 2px;
  height: 2.3em;
  width: 2.3em;
  background-color: var(--hexagon-color);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 34px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#two{
  position: relative;
  font-size: 34px;
  /* background-color: #981f1f; */
  color: #f7da21;
  z-index: 4;
}

#middle-row{
  margin: 0 -20px 0 -20px;
}

#cell-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

#cell-input-container input {
  position: absolute;
  background: transparent;
  height: 97px;
  width: 97px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.focus{
  background-color: #b0ad4c;
}

.focus::after {
  margin-top: 60%;
  content: "";
  width: 35px;
  height: 4px;
  background: #433845;
  display: inline-block;
  animation: cursor-blink 0.9s steps(2) infinite;
}

#middle-cell {
  background-color: #f7da21;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}